.form__line {
    margin: 13px 0 0 36px;
    padding: 0;
    height: 0;
    width: 358px;
    opacity: 0.2;
    border: none;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 560px) {
    .form__line {
        margin-left: 22px;
        width: 238px;
    }
}