.form__close {
    margin: 0;
    padding: 0;
    color: white;
    background: transparent;
    position: absolute;
    right: -48px;
    top: -48px;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}

.form__close:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 560px) {
    .form__close {
        right: 0;
        width: 26px;
        height: 26px;
    }
}